:root {
    --font-large: 18px;
    --font-normal: 14px;
    --fonts: 'Segoe UI', DengXian, Tahoma, Geneva, Verdana, sans-serif;
}

.sider-bar
{
    height: 100%;
    width: 338px;;
    float: left;
    display: flex;
    flex-direction: column;
    font-family: var(--fonts);
}

.sider-bar .header
{
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .title
{
    flex-grow: 1;
    text-align: left;
    font-weight: normal;
    font-size: var(--font-large);
}

.header .clean
{
    flex-grow: 0;
    font-size: var(--font-normal);
    font-weight: bold;
}

.sider-bar > *
{
    margin-left: 32px;
}
